@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Reference: https://docs.microsoft.com/en-gb/visualstudio/get-started/csharp/tutorial-aspnet-core?view=vs-2022-->

<div class="text-center">
    <h1 class="display-4">Welcome to MyWebApp</h1>
    <p>Built with ASP.NET Core using Visual Studio.</p>
    <br />
    <img src="https://visualstudio.microsoft.com/wp-content/uploads/2021/10/Product-Icon.svg"/>
</div>
